<div id="pad-wrapper" class="form-page">
    <div class="row-fluid form-wrapper">
        <div class="span12 column">
            <form operation="do_generate_template" object="admin/screen">
                <div class="field-box">
                    <label>名称：</label>
                    <input name="name" id="name" class="span6 inline-input" type="text" value="{{.object.Name}}" required />
                </div>
                <div class="field-box">
                    <label>描述：</label>
                    <textarea name="description" id="description" class="span6 inline-input" rows="6" required></textarea>
                </div>
                <div class="field-box">
                    <label>&nbsp;</label>
                    <input name="screen_id" id="screen_id" type="hidden" value="{{.ScreenID}}" />
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-flat default" value="提 交" style="margin-left:66px">
                    <input type="button" class="btn-flat gray" action="cancel" value="取 消" style="margin-left:25px">
                </div>
            </form>
        </div>
    </div>
</div>