<form object='screen' class="search" name="大屏膜版">
    <div class="table-products section">
        <div class="row-fluid head">
            <div class="span12">
                <h4>大屏模版列表</h4>
            </div>
        </div>
        <div class="row-fluid filter-block" style="margin-left: 12px;">
            <div class="filter-field">

                <input name="search" type="text" value="{{.search}}" placeholder="模版名称">
            </div>

            <div class="filter-field">
                <span>状态:</span>
                <select  name="status" id="status" class="select2" style="width: 140px;height:30px">
                    {{if eq .status "nil"}}
                    <option value="" selected="selected" >全部</option>
                    <option value="0" >未审核</option>
                    <option value="1" >审核通过</option>
                    <option value="-1" >已停用</option>
                    {{else if eq .status "0"}}
                    <option value=""  >全部</option>
                    <option value="0" selected="selected">未审核</option>
                    <option value="1" >审核通过</option>
                    <option value="-1">已停用</option>
                    {{else if eq .status "1"}}
                    <option value=""  >全部</option>
                    <option value="0" >未审核</option>
                    <option value="1" selected="selected">审核通过</option>
                    <option value="-1" >已停用</option>
                    {{else if eq .status "-1"}}
                    <option value=""  >全部</option>
                    <option value="0" >未审核</option>
                    <option value="1" >审核通过</option>
                    <option value="-1" selected="selected">已停用</option>
                    {{end }}
                </select>
            </div>
            <div class="filter-field">
                <input type="submit" class="btn-flat primary" value="搜索" >
            </div>
        </div>
        <div class="row-fluid">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 5%"><span class="line"></span><input type="checkbox" class="child_delect" id="child_delect" ></th>
                    <th style="display:none;"><span class="line"></span>ID</th>
                    <th style="width: 20%"><span class="line" title="膜版"></span>膜版名称</th>
                    <th style="width: 20%"><span class="line"></span>创建时间</th>
                    <th style="width: 20%"><span class="line"></span>状态</th>
                    <th style="width: 20%"><span class="line"></span>操作</th>
                </tr>
                </thead>
                <tbody>
                {{- range .List}}
                    <tr>
                        <td><input type="checkbox" id="child" class="list_delect"></td>
                        <td style="display:none;">{{.ObjectId}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.CreateTime}}</td>
                        {{if  eq .Status 1}}
                        <td>通过</td>
                        {{  else if  eq .Status 0 }}
                        <td>待审核</td>
                        {{  else if  eq .Status -1}}
                        <td>已停用</td>
                        {{ end }}
                        <td>
                            <ul class="actions" style="float: left;">
                                {{ if eq .Status 1 }}
                                <li><a action='update' object-id="{{.ObjectId}}" value="-1" title="停用" name="{{.Name}}"> 停用</a></li>|
                                {{else if  eq .Status -1 }}
                                <li><a action='update' object-id="{{.ObjectId}}" value="1" title="启用" name="{{.Name}}">启用</a></li>|
                                {{else if  eq .Status 0 }}
                                <li><a action='update' object-id="{{.ObjectId}}" value="1" title="待审核" name="{{.Name}}">待审核</a></li>|
                                {{ end }}
                                <li><a action='edit' object-id="{{.ObjectId}}"  title="上传模版">上传模版</a></li>|
                                <li><a action='delete'  object-id="{{.ObjectId}}" title="删除" name="{{.Name}}">删除</a></li>

                            </ul>
                        </td>
                    </tr>
                {{- end}}
                </tbody>
            </table>
        </div>
        <div class="pagination">{{.Pagination | str2html}}</div>
        <div class="pull-left" style="padding-left: 20px">
            {{ if   eq  0 (.List|len)  }}
            {{else}}
            <input type="button" id="listdelect" class="btn btn-lg" value="批量停用" style="margin-top:35px;" disabled="disabled" >
            {{end }}
        </div>
    </div>
</form>