<div id="pad-wrapper" class="form-page" style="width:400px;height:100px">
    <div class="row-fluid form-wrapper">
        <div class="span12 column" style="position:absolute; width:400px;">
            <div style="width:100%">
            *业务类型：
                <div style="margin-left:90px;margin-top:-20px"><input type="checkbox" class="changType" id="changType-I" value="">Data-I</div>
                <div style="margin-left:170px;margin-top:-20px">   <input type="checkbox" class="changType" id="changType-X">Data-X</div>
                <input type="button" id="changeType" class="btn btn-lg btn-primary" value="确定"    style="margin-left:73%;margin-top:10%">

                <input type="button" class="btn btn-lg" onclick="location.reload()" value="取消"   style="margin-left:90%;margin-top:-30px">
            </div>
        </div>

    </div>
</div>



