<!DOCTYPE html>
<html class="login-bg">
<head>
<title>后台登陆页面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
<link href="/static/css/bootstrap-overrides.css" rel="stylesheet" type="text/css" />
<link href="/static/css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="/static/css/layout.css" rel="stylesheet" type="text/css"  />
<link href="/static/css/elements.css" rel="stylesheet" type="text/css" />
<link href="/static/css/icons.css" rel="stylesheet" type="text/css" />
<link href="/static/css/signup.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="row-fluid login-wrapper">
		<div class="box" style="margin-top: 50px">
			<div class="content-wrap">
				<h6>登录系统</h6>
				<form id="login_f" method="post">
					<input class="span12 " type="text" name="name" placeholder="请输入您的用户名" required/>
					<input class="span12" type="password" name="password" placeholder="请输入您的密码" required/>
					<input type="hidden" name="login_submit" value="login"/>
					<div class="action" style="background-color: #FFFFFF;border-top: 0px">
						<input type="submit" class="btn-flat primary signup" value="登  录">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="/static/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/static/js/messages_zh.js"></script>
<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
		var v = jQuery('#login_f').validate({submitHandler: function(form) {action_submit();}});
    });
    function action_submit() {
        $('#login_f').ajaxSubmit({
            url: "/login",
            dataType: "json",
            timeout: 60000,
            success: function (data) {
                if (data.code == 200) {
               var url= window.location.href
               let new_url = url + data.msg;
               console.log(new_url, 'new_url')

				window.location.href = new_url;

                } else {
                    alert(data.msg);
                }
            }
        });
    }
</script>

</html>