<div id="" class="">
    <div class="row-fluid form-wrapper" style="margin-bottom: 0px;">
        <form operation="add" object="" id="dataform">
            <span id="tip" class="color:red"></span>
            <div style="">
                工作表类型：<select class="" id="select" style="margin-left:0px;width:75px;height:30px">
                <option value="已有连接">已有连接</option>
                <option value="mysql">mysql</option>
                <option value="orcle">orcle</option>
                <option value="hive">hive</option>
                <option value="postgresql">postgresql</option>
                <option value="sqlserver">sqlserver</option>
                <option value="greenplum">greenplum</option>
            </select>
            </div>
            <input value="" id="filename" name="filename" type="hidden"/>
            数据库：
            <table id="dbtables" style="width:480px">

            </table>

        </form>

    </div>
</div>


<script type="text/javascript">
    var dbid="";
    var db="{}";
    //获取的是已经连接的数据库
    function getconnect_db() {
        //清空表
        $('#urltables').html("")
        data.act="v2/connect/list"
        data.args=ShareDataSourceArgs
        $.ajax({
            processData: false,
            contentType: false,
            async: false,
            type: 'post',
            url: dynamicUrl,
            data: JSON.stringify(data),
            success: function (data) {
                if (data.code == 200) {
                    console.log(data.msg)
                    //获取每列
                    var tr = "<tr>"
                    $.each(data.msg, function (i, db) {
                        j=i+1

                        tr +=  "<td  align=\"center\" class='dblist' style='border: 3px solid #F0F0F0;cursor:pointer;height:100px;background-color: #CCFFFF' format="+db.format+" dbid=" + db._id + ">" + db.name + "</td>" ;
                        if (j%3==0) {
                            tr += "</tr>"
                            $("#dbtables").append(tr);
                            tr="<tr>"
                        }else {
                            if (data.msg.length==j){
                                tr += "</tr>"
                                $("#dbtables").append(tr);
                            }

                                    }
                    });



                }

            }

        });


    }

    window.onload = getconnect_db();

    //点击获取连接的数据
    $(".dblist").bind('click', function () {

        dbid=$(this).attr("dbid")
        dbformat=$(this).attr("format")

        center("1000px")
        common_open_dialog("数据库连接","/admin/views/dbconnectdata.html")
    });

    //选取数据库的连接
    $("#select").change(function () {

     var db  = $("#select option:selected").text()
        if (db!="已有连接"){

            $('#dbtables').empty();
          var   dbtabchild="<div style='margin-left: 30px;margin-bottom: 10px'> 服务器:<input id='host' style='' placeholder='请输入服务器地址'/> </div>" +
                    "<div style='margin-left: 30px;margin-bottom: 10px' >  端&nbsp;&nbsp;&nbsp;口:<input id='port' style='' placeholder='3306'/></div>" +
                    "<div style='margin-left: 30px;margin-bottom: 10px'> 数据库:<input id='name' style='' placeholder='请输入数据库名称'/></div>" +
                    "<div style='margin-left: 30px;margin-bottom: 10px'> 用户名:<input id='username' style='' placeholder='请输入用户名'/></div>" +
                    "<div style='margin-left: 30px;margin-bottom: 10px'> 密 &nbsp; 码:<input id='password'  type='password' style='' placeholder='请输入密码'/></div>" +
                  "<div  style='margin-left: 180px'   >\n" +
                  "                <input type=\"button\" value=\"保存\" id=\"saveSheet\"  class=\"btn btn-lg \" style=\"margin-left:0px; \"\n" +
                  "                       onclick=\"save_connect()\"/>\n" +
                  "                <input type=\"button\" value=\"取消\" class=\"btn btn-lg\" style=\"\" onclick=\"window.location.reload()\"/>\n" +
                  "\n" +
                  "            </div>"

                    $("#dbtables").append(dbtabchild)
        }else{
            $('#dbtables').empty();
            getconnect_db()
        }

    })
    function save_connect() {
        debugger
        var dbconnectsave={
            act:'',
            args:''
        }
        var args={
            corp_id:'',
            auth:'',
            format:'',
            type:'type',
            db:''
        }
        var dbs={
            host:'',
            port:'',
            name:'',
            username:'',
            password:''
        }
       if($("#host").attr("value").length==0){
           alert("请输入服务器地址");
           return
       }
        if($("#port").attr("value").length==0){
            alert("请输入端口号");
            return
        }
        if($("#username").attr("value").length==0){
            alert("请输入用户名");
            return
        }
        if($("#password").attr("value").length==0){
            alert("请输入密码");
            return
        }
        dbs.name=$("#name").attr("value")
        dbs.username=$("#username").attr("value")
        dbs.password=$("#password").attr("value")
        dbs.port=$("#port").attr("value")
        dbs.host=$("#host").attr("value")
        args.db=dbs
        args.auth=auth_userid
        args.corp_id=user_id
        args.format=$("#select option:selected").text();
        dbconnectsave.args=args
        dbconnectsave.act="v2/connect/save"
        $.ajax({
            processData: false,
            contentType: false,
            async: false,
            type: 'post',
            url: dynamicUrl,
            data: JSON.stringify(dbconnectsave),
            success: function (data) {
                if (data.code == 200) {
               dbid =data.msg._id
                    dbformat=$("#select option:selected").text()
                    alert(data)
                    center("1000px")
                    common_open_dialog("数据库连接","/admin/views/dbconnectdata.html")
                }else {
                    alert(data.msg)
                }

            }

        });

    }


    function changeUrl(){
        debugger
        $("#dataform").attr("object",objectupurl)
    };
    window.onload = changeUrl();
</script>
