<form object='admin/sourceshare' class="search" name="数据源共享">
    <div class="table-products section">
        <div class="row-fluid head">
            <div class="span12">
                <h4>数据源共享管理</h4>
            </div>
        </div>
        <div class="row-fluid filter-block" style="margin-left: 13px;">
            <div class="filter-field">


                <input name="search" type="text" value="{{.search}}" placeholder="数据源名称">
            </div>
            <div  class="filter-field" >
                <span>分类:</span>

            </div>
            <div class="filter-field">
                <span>状态:</span>
                <select  name="status" id="status" class="select2" style="width: 140px;height:30px">
                    {{if eq .status "nil"}}
                    <option value="" selected="selected" >全部</option>
                    <option value="0" >停用</option>
                    <option value="1" >启用</option>

                    {{else if eq .status "0"}}
                    <option value=""  >全部</option>
                    <option value="0" selected="selected">停用</option>
                    <option value="1" >启用</option>

                    {{else if eq .status "1"}}
                    <option value=""  >全部</option>
                    <option value="0" >停用</option>
                    <option value="1" selected="selected">启用</option>


                    {{end }}
                </select>
            </div>
            <div class="filter-field">
                <input type="submit" class="btn-flat default" value="搜索"  >

            </div>
            <a class="btn-flat default" action='dbconnect' id="dbconnect"  methods="dbconnect" title="数据库连接" style="float:right;margin-right:40px">数据库连接</a>

            <a class="btn-flat default" action='new' title="新建工作表" style="float:right;margin-right:40px">新建工作表</a>

        </div>
        <div class="row-fluid">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th style="width: 5%"><span class="line"></span><input type="checkbox" class="child_delect" id="child_delect" ></th>
                    <th style="display:none;"><span class="line"></span>ID</th>
                    <th style="width: 10%"><span class="line" title="数据源名称"></span>数据源名称</th>
                    <th style="width: 10%"><span class="line"></span>分类</th>
                    <th style="width: 10%"><span class="line"></span>更新时间</th>
                    <th style="width: 20%"><span class="line"></span>状态</th>
                    <th style="width: 20%"><span class="line"></span>共享团队</th>
                    <th style="width: 20%"><span class="line"></span>操作</th>
                </tr>
                </thead>
                <tbody>
                {{- range .List}}
                    <tr>
                        <td><input type="checkbox"  class="list_delect"></td>
                        <td style="display:none;">{{.ObjectId}}</td>
                        <td>{{.Name}}</td>
                        <td>{{.Format}}</td>
                        <td>{{.UpdateTime}}</td>
                        {{if  eq .Status 1}}
                        <td>已启用</td>
                        {{  else if  eq .Status 0}}
                        <td>未启用</td>

                        {{ end }}
                        <td>{{.CorpName}}</td>
                        <td id="corpIdList" style="display:none;">{{.CorpIdList}}</td>
                        <td>
                            <ul class="actions" style="float: left;">
                                {{ if eq .Status 1 }}
                                <li><a action='sharecorp' Rmethod="sharecorp" object-id="{{.ObjectId}}" value="0" title="共享团队" name="{{.Name}}" corpidlist="{{.CorpIdList}}"> 编辑共享</a></li>|
                                {{else if  eq .Status 0 }}
                                <li><a action='sharecorp' Rmethod="sharecorp" object-id="{{.ObjectId}}" value="1" title="共享团队" name="{{.Name}}">共享</a></li>|
                                {{ end }}
                                <li><a action='BangDingData'  Rmethod="showdata" object-id="{{.ObjectId}}" title="数据详情" >数据详情</a></li>|
                                <li><a action='delete'  object-id="{{.ObjectId}}" title="删除" name="{{.Name}}">删除</a></li>

                            </ul>
                        </td>
                    </tr>
                {{- end}}
                </tbody>
            </table>

        </div>
        <div class="pagination">{{.Pagination | str2html}}</div>
        <div class="pull-left" style="padding-left: 20px;margin-top:23px">
            {{ if   eq  0 (.List|len)  }}
            {{else}}
            <input type="button" id="listdelect" class="btn btn-lg" value="批量删除" style="margin-left:5px;margin-top:35px" disabled="disabled" >
        {{ end }}
        </div>
    </div>
</form>