<div id="pad-wrapper" class="form-page" object-id="{{.CorpId}}" object="corp">
    <div class="row-fluid form-wrapper">
        <div class="span12 column" style="position:relative;height:355px">
            <div class="form-group" style="position:absolute;height:30px;width:100%">

            </div>
        <table id="wokaotesttable">
        </table>
            <input  id="dataurl" value="{{.url}}"  style="display: none"/>
        </div>
    </div>
</div>

<script type="text/javascript">
    var peopleOptions;
    var myColumns = []
    var arg = {
        corp_id:"5850c142f502ec42a7000023",
        auth:"2f6f0ce5c7ca6ea09a2818f72ce4851d",
        _id:$("#dataurl").val()
    }
    var dataname = {
        act:"v2/datasource/get",
        args:arg
    }
    var datadate={
        act:"v2/datasource/data",
        args:arg
    }
    // 数据列表加载
    function tableItem() {
        peopleOptions = {
            dataType: "json",
            method: "post", // 使用post请求到服务器获取数据
            url: "",
            contentType: "application/x-www-form-urlencoded",// 重要否则POST会报错
            striped: false, // 表格显示条纹
            pagination: false, // 启动分页
            pageSize: 10, // 每页显示的记录数
            pageNumber: 1, // 当前第几页
            pageList: [10, 20, 50], // 记录数可选列表
            uniqueId: "id",
            showColumns: true, // 显示下拉框勾选要显示的列
            showToggle: true, // 显示 切换试图（table/card）按钮
            clickToSelect: true, // 点击可选
            singleSelect: true, // 禁止多选
            maintainSelected: true, // 在点击分页按钮或搜索按钮时，将记住checkbox的选择项
            sortable: true, // 禁止所有列的排序
            //dataField: "msg",
            sortOrder: "asc",
            sidePagination: "server", // 表示服务端请求 后台分页
            toolbar: "#toolbar",// 指明自定义的toolbar
            queryParamsType: "undefined",
            queryParams: function queryParams(params) {
                var param = {
                    pageNumber: params.pageNumber,
                    pageSize: params.pageSize,

                };
                return param;
            },
            responseHandler: function (res) { // 格式化数据
                console.log(res);
                if (res.msg.total != undefined)
                    tmp = {
                        total: res.msg.total,
                        rows: res.msg.rows
                    };
                if (res.msg.total == undefined)
                    tmp = {
                        total: res.msg.length,
                        rows: res.msg
                    };
                return tmp;
            },
            columns: "",


        };
        $table = $("#wokaotesttable").bootstrapTable(peopleOptions);
    }


    function getColumns() {
// 加载动态表格
        $.ajax({
            url: "https://dev.datahunter.cn/rpc",
            data:JSON.stringify(dataname),
            type: 'post',
            dataType: "json",
            async: false,
            success: function (returnValue) {

                // 未查询到相应的列，展示默认列
                if (returnValue.retCode == "0") {
                    //没查到列的时候把之前的列再给它
                    myColumns = $table.bootstrapTable('getOptions').columns[0];
                } else {
                    // 异步获取要动态生成的列
                    var arr = returnValue.msg.th;
                    $.each(arr, function (i, item) {
                        myColumns.push({
                            "field": item.o,
                            "title": item.n,
                            "hide": true,
                            "align": 'center',
                            "valign": 'middle',
                            "sortable": 'true',
                        });
                    });
                    console.log(myColumns)
                    //初始化tables
                    tableItem();

                    $table.bootstrapTable(
                            "refreshOptions",
                            {
                                url: "https://dev.datahunter.cn/rpc", // 获取数据的地址
                                queryParams:JSON.stringify(datadate) ,
                                columns:myColumns,

                            }
                    );

                }
            }

        });
    };
    window.onload=getColumns();
</script>

