<div id="pad-wrapper" class="form-page">
    <div class="row-fluid form-wrapper">
        <div class="span12 column">
            <form operation="add" object="corp">
                <div class="field-box">
                    <label>团队名称：</label>
                    <input name="name" id="name" class="span6 inline-input" type="text" value="" required />
                </div>
                <div class="field-box">
                    <label>邮箱：</label>
                    <input name="email" id="email" class="span6 inline-input" type="text" value="" required />
                </div>
                <div class="field-box">
                    <label>手机号：</label>
                    <input name="mobile" id="mobile" class="span6 inline-input" type="text" value="" required />
                </div>



                <div class="field-box">
                    <input type="submit" class="btn-flat default" value="提 交">
                    <input type="button" class="btn-flat gray" action="cancel" value="取 消">
                </div>
            </form>
        </div>
    </div>
</div>