<div id="pad-wrapper" class="form-page">
    <div class="row-fluid form-wrapper">
        <div class="span12 column">
            <form operation="add" object="sourcetype">
                <div class="field-box" style="margin-top:5%">
                    <label>分类名称：</label>
                    <input name="name" id="name" class="span6 inline-input" type="text" value="" required />
                </div>
                <div class="field-box">
                    <input type="submit" class="btn-flat default" value="提 交" style="margin-left:270px;margin-top:5%">
                    <input type="button" class="btn-flat gray" action="cancel" value="取 消" style="margin-top:5%">
                </div>
            </form>
        </div>
    </div>
</div>