<div id="pad-wrapper" class="form-page">
    <div class="row-fluid form-wrapper">
        <div class="span12 column">
            <form operation="add" object="sourcetype" action="/upload" class="dropzone" id="myId">
                <div class="field-box" style="margin-top:5%">
                    <label>分类名称：</label>
                    <input name="name" id="name" class="span6 inline-input" type="text" value="" required />
                </div>

            </form>
        </div>
    </div>
</div>