<div id="pad-wrapper" class="form-page">

    <div class="row-fluid form-wrapper">
        <div class="span12 column">

            <form operation="update" object="source">
                <div class="field-box">
                    <label>数据源名称：</label>
                    <input name="name" id="name" class="span6 inline-input" type="text" value="{{.object.Name}}" required />
                </div>
                <div class="field-box">
                    <label>数据源分类：</label>
                    <select  name="SourceType" id="SourceType" value={{.object.TypeName}} class="select2" style="width: 140px;height:30px">

                        {{- range .sourceTypelist }}
                            {{ if  eq .sourceType .Type}}
                        <option value="{{.sourceType}}" selected="selected">{{.sourceType}}</option>
                        {{ else }}
                        <option value="{{.sourceType}}" >{{.sourceType}}</option>
                        {{ end }}
                        {{- end}}

                    </select>




                </div>
                <div class="field-box">
                    <label>log:</label>
                    <input name="name" id="log" class="span6 inline-input" type="file" value="{{.object.Name}}" required />
                </div>



                <div class="field-box">
                    <label>&nbsp;</label>
                    <input  name="id" id="id" type="hidden" value="{{.object.ObjectId}}" />
                </div>



                <div class="field-box">
                    <input type="submit" class="btn-flat default" value="提 交" style="margin-left:66px">
                    <input type="button" class="btn-flat gray" action="cancel"  style="margin-left:25px" value="取 消">
                </div>
            </form>
        </div>
    </div>
</div>